{% extends "adminlte/base.html" %}

{% block title %}Max SRP{% endblock %}

{% block body_class %}skin-black-light layout-boxed{% endblock %}

{% block nav_header %}
  {% include 'adminlte/lib/_main_header.html' %}
  {% include 'adminlte/lib/_main_sidebar.html' with entitylist=entitylist %}
{% endblock %}

{% block content_header %}
  <section class="content-header">
      <h1>
        Add New Experience to {{ entity.name }}
      </h1>
      {% block breadcrumbs %}{% endblock %}
    </section>
{% endblock %}

{% block content %}
<section class="content">
        <div class="row">
          <!-- general form elements disabled -->
          <div class="col-lg-12">
              <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                  <!-- Tabs within a box -->
                  <ul class="nav nav-tabs pull-right">
                    <li><a href="#trainData" data-toggle="tab">Training Data</a></li>
                    <li><a href="#testData" data-toggle="tab">Testing Data</a></li>
                    <li class="active"><a href="#prodData" data-toggle="tab">Production Data</a></li>
  
                    <li class="pull-left header"><i class="fa fa-file-text"></i>New Experience</li>
                  </ul>
                  <div class="box-body">
                  <div class="tab-content no-padding">
                      <div class='tab-pane active' id="prodData">
                      <form role="form" action="{% url 'eadd' entity.id %}" method="POST">
                          {% csrf_token %}
                          <!-- text input -->
                          <div class="form-group">
                              <label>Name</label>
                              <input name='prod_name' type="text" class="form-control" placeholder="Enter ...">
                          </div>
          
                          <!-- textarea -->
                          <div class="form-group">
                              <label>Narrative Text</label>
                              <textarea name='prod_content' class="form-control" rows="3" placeholder="Enter ..."></textarea>
                          </div>
                          <div class="box-footer">
                              <button type="submit" class="btn btn-default">Submit</button>
                          </div>
                      </form>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="testData">
                      <form role="form">
                          <!-- text input -->
                          <div class="form-group">
                              <label>Name</label>
                              <input name='test_name' type="text" class="form-control" placeholder="Enter ...">
                          </div>
                          <!-- file input -->
                          <div class="form-group">
                              <label for="exampleInputFile">Test Data File input</label>
                              <input name='test_file' type="file" id="exampleInputFile">
              
                              <p class="help-block">Only use .csv files in this box</p>
                          </div>
                          <div class="box-footer">
                              <button type="submit" class="btn btn-default">Submit</button>
                          </div>
                      </form>
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="trainData">
                      <form role="form">
                          <!-- text input -->
                          <div class="form-group">
                              <label>Name</label>
                              <input name='train_name' type="text" class="form-control" placeholder="Enter ...">
                          </div>
                          <!-- file input -->
                          <div class="form-group">
                              <label for="exampleInputFile">Training Data File input</label>
                              <input name='train_file' type="file" id="exampleInputFile">
              
                              <p class="help-block">Only use .csv files in this box</p>
                          </div>
                          <div class="box-footer">
                              <button type="submit" class="btn btn-default">Submit</button>
                          </div>
                      </form>
                  </div>
                  <!-- /.tab-content -->
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.nav-tabs-custom -->
  
          </div>
          <!--/.col -->
        </div>
        <!-- /.row -->
      </section>
{% endblock %}