{% extends "adminlte/base.html" %}
{% load static %}

{% block title %}Max SRP{% endblock %}

{% block body_class %}skin-black-light layout-boxed{% endblock %}

{% block nav_header %}
  {% include 'adminlte/lib/_main_header.html' %}
    {% include 'adminlte/lib/_main_sidebar.html' with entitylist=entitylist %}
{% endblock %}

{% block content_header %}
  <section class="content-header">
      <h1>
        <a href="{% url 'dashEntity' entity.id %}">{{entity.name}}</a> : {{experience.name}}
      </h1>
      {% block breadcrumbs %}
        <ol class="breadcrumb">
          <li><a href="{% url 'dashEntity' entity.id %}"> {{entity.name}} </a></li>
          <li><a href="{% url 'dashExperience' experience.id entity.id %}"> {{experience.name}} </a></li>
        </ol>
      {% endblock %}
    </section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
          <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Current Experience</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <h4 id='currentExpName'>"{{experience.name}}"</h4>
                <center><span>Overall Sentiment</span></center>
                <canvas id="currentExpScore" height = 35px></canvas>
                <canvas id="currentExpMag" height = 35px></canvas>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
      </div>
      <!-- /.col -->
      <!-- Right column -->
      <div class="col-md-6">
          <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Content</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                  {{experience.content}}
                
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
      </div>
      <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Sentences</h3>
            <div class="box-tools pull-right">
              <!-- Buttons, labels, and many other things can be placed here! -->
              <!-- Here is a label for example -->
              <span class="label label-default">0</span>
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->


      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </section>
{% endblock %}

{% block javascript %}
<script src="{% static 'SRP/Chart.bundle.min.js' %}"></script>
<script>
var currentTextScore = 1
var currentTextMag = 0.6

function colorGrad (value) {
    if(value<0){
        red = 255;
        if (value<-1){
            green = 0;
            blue = 0;
        }
        else{
            green = -1*(255*(value));
            blue = -1*(255*(value));
        };
    }
    else{
        blue = 255;
        if(value>1){
           red = 0;
           green = 0; 
        }
        else{
            red = 255 + (255*(-1*value));
            green = 255 + (255*(-1*value));
        }
    }
    red = Math.round(red)
    green = Math.round(green)
    blue = Math.round(blue)
    var rgbReturn = 'rgba('
    return rgbReturn.concat(red.toString()).concat(", ").concat(green.toString()).concat(", ").concat(blue.toString())
}
// Current Text Sentiment - Score Chart
var currentTextScoreChartData = {
        labels: [""],
        datasets: [{
            label: 'Score',
            backgroundColor: colorGrad(currentTextScore).concat(', 0.5)'),
            borderColor: colorGrad(currentTextScore).concat(', 1)'),
            borderWidth: 1,
            data: [
                currentTextScore
            ]
        }]

    };

// Current Text Sentiment - Magnitude Chart
var currentTextMagChartData = {
    labels: [""],
    datasets: [{
        label: 'Magnitude',
        backgroundColor: colorGrad(currentTextMag).concat(', 0.5)'),
        borderColor: colorGrad(currentTextMag).concat(', 1)'),
        borderWidth: 1,
        data: [
            currentTextMag
        ]
    }]

};


window.onload = function() {

    // Current Text Sentiment - Score Chart
    var ctx1 = document.getElementById("currentExpScore").getContext("2d");
    window.currentExpScore = new Chart(ctx1, {
        type: 'horizontalBar',
        data: currentTextScoreChartData,
        options: {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each horizontal bar to be 2px wide
            elements: {
                rectangle: {
                    borderWidth: 2,
                }
            },
            scales: {
                xAxes:[{
                    ticks: {
                        min: -1,
                        max: 1
                    }
                }]
            },
            legend: {
                display: false
            },
            responsive: true
        }
    });

    // Current Text Sentiment - Magnitude Chart
    var ctx2 = document.getElementById("currentExpMag").getContext("2d");
    window.currentExpScore = new Chart(ctx2, {
        type: 'horizontalBar',
        data: currentTextMagChartData,
        options: {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each horizontal bar to be 2px wide
            elements: {
                rectangle: {
                    borderWidth: 2,
                }
            },
            scales: {
                xAxes:[{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 1
                    }
                }]
            },
            legend: {
                display: false
            },
            responsive: true
        }
    });
};
</script>
<!-- jQuery 3 -->
<script src="{% static 'SRP/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'SRP/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'SRP/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'SRP/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'SRP/demo.js' %}"></script>
{% endblock %}