{% extends "app/base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Create an Experience</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

          <div class="x_panel">
            <div class="x_title">
              <h2>New Experience <small>This must be objective</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <!-- start form for validation -->
              <form id="demo-form" data-parsley-validate>
                    <label for="person">Person Experiencing Memory *:</label>
                    <select id="heard" class="form-control" required>
                      <option value="">Choose..</option>
                      <option value="person1">John Doe</option>
                      <option value="person2">Jane Doe</option>
                    </select>


                    <label for="message">Statement (1 chars min, 1000 max) :</label>
                    <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="1" data-parsley-maxlength="1000" data-parsley-minlength-message="Come on! You need to enter at least a 1 charecter long statement"
                      data-parsley-validation-threshold="10"></textarea>

                    <br/>
                    <span class="btn btn-primary">Submit Statement</span>

              </form>
              <!-- end form for validations -->

            </div>
          </div>


        </div>
    </div>
  </div>
{% endblock content %}
