{% extends "adminlte/base.html" %}
{% load static %}

{% static "SRP/Chart.bundle.min.js" %}

{% block title %}Max SRP{% endblock %}

{% block body_class %}skin-black-light layout-boxed{% endblock %}

{% block nav_header %}
  {% include 'adminlte/lib/_main_header.html' %}
  {% include 'adminlte/lib/_main_sidebar.html' with entitylist=entitylist %}
{% endblock %}

{% block content_header %}
  <section class="content-header">
    {% block entity_title %}
      <h1>
        Entity : {{entity.name}} <a href="{% url 'deleteEntity' entity.id %}"><i class="fas fa-minus-circle"></i></a>
      </h1>
    {% endblock %}
      {% block breadcrumbs %}
        <ol class="breadcrumb">
          <li class="active"><a href="{% url 'dashEntity' entity.id %}"> {{entity.name}} </a></li>
        </ol>
      {% endblock %}
    </section>
{% endblock %}

{% block content %}
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-8 col-xs-4">
      <!-- Apply any bg-* class to to the info-box to color it -->
      {% block info-box %}
      <div class="info-box bg-white">
          <span class="info-box-icon"><i class="fa fa-comment"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Latest Experience</span>
          <a href="{% if experiencelist.first %}{% url 'dashExperience' entity.id experiencelist.first.id %}{% endif %}"><h3>{{ experiencelist.first.name }}</h3></a>
        </div>
        <!-- /.info-box-content -->
      </div>
       <!-- /.info-box -->
      {% endblock %}
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-8">
      <!-- Apply any bg-* class to to the info-box to color it -->
      <div class="info-box bg-gray" class="refresh">
        <a href="{% url 'toggleEntity' entity.id %}">
        <span class="info-box-icon">
          {% if entity.current_process %}
          <i class="fas fa-pause" style="color: black"></i>
          {% else %}
          <i class="fas fa-play" style="color: black"></i>
          {% endif %}
        </span>
        </a>
      <div class="info-box-content">
        <span class="info-box-text">Time Step</span>
        <span class="info-box-number">{{entity.current_t}}</span>
        <!-- The progress section is optional -->
        <div class="progress">
          <div class="progress-bar" style="width: {{t_width}}%"></div>
        </div>
        <span class="progress-description">
          {{t_width}}% - {{entity.current_t}}/{{sentcount}}
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
     <!-- /.info-box -->
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-6">
      {% block left%}
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-user-circle-o"></i> Current Emotional State</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <canvas id="radarChart1" style="position: relative; height: 400px;"></canvas>
            </div>
            <!-- /.box-body -->
        </div>
      {% endblock %}
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-6">

      {% block right %}
      {% endblock %}

    </section>
    <!-- right col -->
  </div>
  <!-- /.row (main row) -->
  {% block exp_list %}
  <div class='row'>
      <div class="col-lg-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Experiences</h3>
              <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <a href="{% url 'addExperience' entity.id %}"><button class="btn btn-default btn-box-tool">+</button></a>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Joy</th>
                      <th>Sadness</th>
                      <th>Fear</th>
                      <th>Anger</th>
                      <th>Analytical</th>
                      <th>Confident</th>
                      <th>Tentative</th>
                      <th>Time Created</th>
                      <th>Processed</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for exp in experiencelist.all %}
                    <tr>
                      <td><a href="{% url 'dashExperience' entity.id exp.id %}">{{exp.name}}</a></td>
                      <td>{{exp.joy}}</td>
                      <td>{{exp.sadness}}</td>
                      <td>{{exp.fear}}</td>
                      <td>{{exp.anger}}</td>
                      <td>{{exp.analytical}}</td>
                      <td>{{exp.confident}}</td>
                      <td>{{exp.tentative}}</td>
                      <td>{{exp.create_t}}</td>
                      <td>{{exp.process_t}}</td>
                      <td><a href="{% url 'deleteExperience' entity.id exp.id%}"><i class="fas fa-minus-circle"></i></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <a href="{% url 'experienceList' entity.id %}"><center>More Experiences</center></a>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  
  
        </div>
  </div>
  {% endblock %}

</section>
{% endblock %}
{% block jssub %}
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
<script>
  // ChartJS
  // Radar Chart
  var currentChartData = []

  var radarChartCanvas = document.getElementById("radarChart1");
  // This will get the first returned node in the jQuery collection.
  var radarChartData = {
    labels: ['Joy', 'Sadness', 'Fear ', 'Anger', 'Analytical', 'Confident', 'Tentative'],
    datasets: [{
      label: 'Entity',
      backgroundColor: 'rgba(0, 214, 222, 0.3)',
      borderColor: 'rgba(0, 214, 222, 1)',
      pointBackgroundColor: 'rgba(0, 214, 222, 1)',
      pointBorderColor: '#c1c7d1',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgba(220,220,220,1)',
      data: currentChartData
    }]
  };
  var radarChartOptions = {
    //Boolean - If we should show the scale at all
    showScale: false,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines: false,
    //String - Colour of the grid lines
    scaleGridLineColor: 'rgba(0,0,0,.05)',
    //Number - Width of the grid lines
    scaleGridLineWidth: 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines: true,
    //Boolean - Whether the line is curved between points
    bezierCurve: true,
    //Number - Tension of the bezier curve between points
    bezierCurveTension: 0.3,
    //Boolean - Whether to show a dot for each point
    pointDot: false,
    //Number - Radius of each point dot in pixels
    pointDotRadius: 4,
    //Number - Pixel width of point dot stroke
    pointDotStrokeWidth: 1,
    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
    pointHitDetectionRadius: 20,
    //Boolean - Whether to show a stroke for datasets
    datasetStroke: true,
    //Number - Pixel width of dataset stroke
    datasetStrokeWidth: 2,
    //Boolean - Whether to fill the dataset with a color
    datasetFill: true,
    //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
    maintainAspectRatio: true,
    //Boolean - whether to make the chart responsive to window resizing
    responsive: true,

    scale: {
      ticks: {
        min: 0,
        max: 1
      }
    }
  };

  window.onload = function() {
    var chart = new Chart(radarChartCanvas, {
      type: "radar",
      data: radarChartData,
      options: radarChartOptions
    });
  };

  setTimeout(function() {
    $.get("https://basis.maxpmurphy.com/entity/11/data/", {}, function(data) {
      chart.data.datasets.forEach((dataset) => {
        dataset.data = this.data
      });
      chart.update();
    });

  }, 1000);
</script>
</div>

<!-- jQuery 3 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- FastClick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" integrity="sha256-t6SrqvTQmKoGgi5LOl0AUy+lBRtIvEJ+++pLAsfAjWs=" crossorigin="anonymous"></script>
<!-- AdminLTE App -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/adminlte.min.js" integrity="sha256-Q/aizhMDU+m2KQAJOfeYLCMrkltKkaNkvdGr2bcxA74=" crossorigin="anonymous"></script>
<!-- AdminLTE for demo purposes -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/demo.js" integrity="sha256-FJs2lhA7yGqzK+bE6sYNwziPqEg8nJnRtf/ZTw+8wIA=" crossorigin="anonymous"></script>
{% endblock %}