{% extends 'SRP/entityDashBase.html' %}
{% load static %}
{% block entity_title %}
      <h1>
        <a href="{% url 'dashEntity' entity.id %}" style="color: black;"><i class="fas fa-chevron-left" style="padding-right:10px;"></i>Go Back</a>
      </h1>
    {% endblock %}
{% block info-box %}
      <div class="info-box bg-white">
          <span class="info-box-icon"><i class="fas fa-lightbulb"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Concept</span>
          <h3>{{concept_title}}</h3>
        </div>
        <!-- /.info-box-content -->
      </div>
       <!-- /.info-box -->
      {% endblock %}
{% block left %}
<div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-book"></i>Concept Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <img src={{concept_img}} style="display: block; margin-left: auto; margin-right: auto;"></img>
            <div class="table-responsive">
                <table class="table no-margin">
                <tbody>
                <td>
                    <tr><b>{{concept_title}}</b></tr>
                    <tr><i>Confidence : </i> {{concept_confidence}}</tr>
                    <tr>{{concept_desc}}</tr>
                </td>
                </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
{% endblock %}
{% block right %}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="far fa-user-circle"></i>Feelings</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <canvas id="radarChart2" style="position: relative; height: 400px;"></canvas>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}
{% block exp_list %}
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
<script>
  // ChartJS
    // Radar Chart
    var radarChartCanvas2 = document.getElementById("radarChart2");
    // This will get the first returned node in the jQuery collection.
	var radarChartData2 = {
      labels  : ['Joy','Sadness','Fear ','Anger','Analytical','Confident','Tentative'],
      datasets: [
        {
          label               : 'Entity',
          backgroundColor     : 'rgba(0, 214, 222, 0.3)',
          borderColor         : 'rgba(0, 214, 222, 1)',
          pointBackgroundColor : 'rgba(0, 214, 222, 1)',
          pointBorderColor    : '#c1c7d1',
          pointHoverBackgroundColor  : '#fff',
          pointHoverBorderColor : 'rgba(220,220,220,1)',
          data : [{{avg_joy}}, {{avg_sadness}}, {{avg_fear}}, {{avg_anger}}, {{avg_analytical}}, {{avg_confident}}, {{avg_tentative}}]
        } 
      ]
    };
	var radarChartOptions2 = {
      //Boolean - If we should show the scale at all
      showScale               : false,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : false,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - Whether the line is curved between points
      bezierCurve             : true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension      : 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot                : false,
      //Number - Radius of each point dot in pixels
      pointDotRadius          : 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth     : 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius : 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke           : true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth      : 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill             : true,
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio     : true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive              : true,

      scale: {
        ticks:{
          min : 0,
          max : 1
        }
      }
    };
    
window.onload = function(){
  window.radarChart2 = new Chart(radarChartCanvas2, {type:"radar", data:radarChartData2, options:radarChartOptions2});
};
</script>
<!-- jQuery 3 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- FastClick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" integrity="sha256-t6SrqvTQmKoGgi5LOl0AUy+lBRtIvEJ+++pLAsfAjWs=" crossorigin="anonymous"></script>
<!-- AdminLTE App -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/adminlte.min.js" integrity="sha256-Q/aizhMDU+m2KQAJOfeYLCMrkltKkaNkvdGr2bcxA74=" crossorigin="anonymous"></script>
<!-- AdminLTE for demo purposes -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/demo.js" integrity="sha256-FJs2lhA7yGqzK+bE6sYNwziPqEg8nJnRtf/ZTw+8wIA=" crossorigin="anonymous"></script>
{% endblock %}