{% extends "adminlte/base.html" %}
{% load static %}

{% block title %}Max SRP{% endblock %}

{% block body_class %}skin-black-light layout-boxed{% endblock %}

{% block nav_header %}
  {% include 'adminlte/lib/_main_header.html' %}
    {% include 'adminlte/lib/_main_sidebar.html' with entitylist=entitylist %}
{% endblock %}

{% block content_header %}
  <section class="content-header">
      <h1>
        <a href="{% url 'dashEntity' entity.id %}">{{entity.name}}</a> : {{experience.name}} <a href="{% url 'deleteExperience' entity.id experience.id%}"><i class="fas fa-minus-circle"></i></a>
      </h1>
      {% block breadcrumbs %}
        <ol class="breadcrumb">
          <li><a href="{% url 'dashEntity' entity.id %}"> {{entity.name}} </a></li>
          <li><a href="{% url 'dashExperience' experience.id entity.id %}"> {{experience.name}} </a></li>
        </ol>
      {% endblock %}
    </section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-6">
          <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Current Experience</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <h4 id='currentExpName'>"{{experience.name}}"</h4>
                <canvas id="radarChart1"></canvas>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
      </div>
      <!-- /.col -->
      <!-- Right column -->
      <div class="col-md-6">
          <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Content</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                  {{experience.content}}
                
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
      </div>
      <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Sentences</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin" style="width:100%">
                    <thead>
                        <tr>
                        <th style="width:50%">Content</th>
                        <th style="width:5.5%">Joy</th>
                        <th style="width:5.5%">Sadness</th>
                        <th style="width:5.5%">Fear</th>
                        <th style="width:5.5%">Anger</th>
                        <th style="width:5.5%">Analytical</th>
                        <th style="width:5.5%">Confident</th>
                        <th style="width:5.5%">Tentative</th>
                        <th style="width:5.5%">Time Created</th>
                        <th style="width:5.5%">Processed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sent in sentlist.all %}
                        <tr>
                        <td>{{sent.content}}</td>
                        <td>{{sent.joy}}</td>
                        <td>{{sent.sadness}}</td>
                        <td>{{sent.fear}}</td>
                        <td>{{sent.anger}}</td>
                        <td>{{sent.analytical}}</td>
                        <td>{{sent.confident}}</td>
                        <td>{{sent.tentative}}</td>
                        <td>{{sent.create_t}}</td>
                        <td>{{sent.process_t}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'sentenceList' entity.id experience.id %}"><center>All Sentences...</center></a>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->


      </div>
      <!--/.col (left) -->
    </div>
    <!-- /.row -->
  </section>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
<script>
  // ChartJS
// Radar Chart
var radarChartCanvas = document.getElementById("radarChart1");
    // This will get the first returned node in the jQuery collection.
	var radarChartData = {
      labels  : ['Joy','Sadness','Fear ','Anger','Analytical','Confident','Tentative'],
      datasets: [
        {
          label               : 'Experience Emotion',
          backgroundColor     : 'rgba(0, 214, 222, 0.3)',
          borderColor         : 'rgba(0, 214, 222, 1)',
          pointBackgroundColor : 'rgba(0, 214, 222, 1)',
          pointBorderColor    : '#c1c7d1',
          pointHoverBackgroundColor  : '#fff',
          pointHoverBorderColor : 'rgba(220,220,220,1)',
          data                : [{{experience.joy}}, {{experience.sadness}}, {{experience.fear}}, {{experience.anger}}, {{experience.analytical}}, {{experience.confident}}, {{experience.tentative}}]
        } 
      ]
    };
    var radarChartOptions = {
      //Boolean - If we should show the scale at all
      showScale               : false,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : false,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - Whether the line is curved between points
      bezierCurve             : true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension      : 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot                : false,
      //Number - Radius of each point dot in pixels
      pointDotRadius          : 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth     : 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius : 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke           : true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth      : 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill             : true,
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio     : true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive              : true,

      scale: {
        ticks:{
          min : 0,
          max : 1
        }
      }
    };

window.onload = function(){
  window.radarChart1 = new Chart(radarChartCanvas, {type:"radar", data:radarChartData, options:radarChartOptions});
};
</script>
<!-- jQuery 3 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- FastClick -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" integrity="sha256-t6SrqvTQmKoGgi5LOl0AUy+lBRtIvEJ+++pLAsfAjWs=" crossorigin="anonymous"></script>
<!-- AdminLTE App -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/adminlte.min.js" integrity="sha256-Q/aizhMDU+m2KQAJOfeYLCMrkltKkaNkvdGr2bcxA74=" crossorigin="anonymous"></script>
<!-- AdminLTE for demo purposes -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.3/js/demo.js" integrity="sha256-FJs2lhA7yGqzK+bE6sYNwziPqEg8nJnRtf/ZTw+8wIA=" crossorigin="anonymous"></script>
{% endblock %}