{% extends "adminlte/base.html" %}
{% block title %}Max SRP{% endblock %}
{% block body_class %}skin-black-light layout-boxed{% endblock %}
{% block nav_header %}
  {% include 'adminlte/lib/_main_header.html' %}
  {% include 'adminlte/lib/_main_sidebar.html' with entitylist=entitylist %}
{% endblock %}
{% block content_header %}
  <section class="content-header">
      <h1>
        Experience : {{experience.name}}
      </h1>
      {% block breadcrumbs %}
        <ol class="breadcrumb">
          <li><a href="{% url 'dashEntity' entity.id %}"> {{entity.name}} </a></li>
          <li><a href="{% url 'dashExperience' entity.id experience.id %}">{{experience.name}}</a></li>
          <li class="active">List</li>
        </ol>
      {% endblock %}
    </section>
{% endblock %}
{% block content %}
<section class="content">

  <div class='row'>
      <div class="col-lg-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{experience.name}} - Sentence List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                      <tr>
                        <th>Content</th>
                        <th>Joy</th>
                        <th>Sadness</th>
                        <th>Fear</th>
                        <th>Anger</th>
                        <th>Analytical</th>
                        <th>Confident</th>
                        <th>Tentative</th>
                        <th>Time Created</th>
                        <th>Processed</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for sent in sentlist.all %}
                      <tr>
                        <td>{{sent.content}}</td>
                        <td>{{sent.joy}}</td>
                        <td>{{sent.sadness}}</td>
                        <td>{{sent.fear}}</td>
                        <td>{{sent.anger}}</td>
                        <td>{{sent.analytical}}</td>
                        <td>{{sent.confident}}</td>
                        <td>{{sent.tentative}}</td>
                        <td>{{sent.create_t}}</td>
                        <td>{{sent.process_t}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
  
  
        </div>
  </div>

</section>
{% endblock %}